{
   "Resources":[
      {
         "Type":"Azure::VM::Instance",
         "Properties":{
            "AvailabilityZone":"eastus",
            "InstanceType":"r5.2xlarge",
            "PrivateIpAddress":"10.20.173.79",
            "Tags":[
               {
                  "Key":"Name",
                  "Value":"${vm_web1_name}.eastus.devops.lab"
               }
            ]
         }
      }
   ]
}